body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 20px 30px;

}

/* displays */
.display-flex{
    display: flex;
}

.inline{
    display: inline-block;
    font-weight: bold;
}

/* Navigation */

.menubar{
    display: flex;
    padding-left: 700px;
}

.links{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
    padding: 10px 20px;
}

.fa-search, .fa-shopping-cart{
    font-size: 20px;
}

.font-size{
    font-weight: 700;
    font-size: 52px;
}

.influencer{
    width: 50%;
    padding-top: 30px;
}

.camera{
    margin-top: 60px;
    margin-left: 40px;
    height: 414px;
    border: 1px solid #AAAAAA;
    border-radius: 200px;
}
.camera img{
    width: 100%;

}

.button{
    background-color: #E02C6D;
    color: white;
    width: 196px;
    height: 44px;
    font-weight: 900px;
    border-radius: 100px;
    text-align: center;
    padding-top: 20px;
}
/* Logo styles */


.logo{
    width: 91px;
    height: 38px;
    padding: 30px 30px;
}

.companies{
    margin-top: 80px;
    margin-left: 165px;
    margin-right: 165px;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}
/* popular collection */



.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1100px;
    height: 1662px;
    align-items: center;
    margin-left: 196px;
    margin-right: 197px;
    border-radius: 20px;
    background-color: #d3cdcdbb;
}

.product img{
    padding-top: 17px;
    padding-left: 14px;
    padding-right: 15px;
    padding-bottom: 16px;
}

.product h3, p, .ratings{
    padding: 0;
    display: block;
    margin-left: 14px;
}

p{
    font-size: 11px;
    font-weight: 1000px;
}

.product{
    width: 329px;
    height: 520px;
    border-radius: 5px;
    background-color: white;
    margin-right: 30px;
}
.fa-star{
    color: orange;
    padding: 0px;
}

.center-align{
    text-align: center;
    padding: 30px;
    font-size: 26px;
}

.margin{
    margin-left: 30px;
}

.margin-right{
    margin-right: 60px;
}

/* Community */

.gear-image{
    padding-top: 40px;
    padding-right: 40px;
    margin-left: 196px;
}

.community h3{
    font-size: 52px;
}
.community p{
    font-size: 20px;
}
.community{
    width: 50%;
}

