body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 20px 30px;

}

/* display flex */
.display-flex{
    display: flex;
}
.menubar{
    display: flex;
    padding-left: 700px;
}

.links{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
    padding: 10px 20px;
}

/* icon */
.fa-search, .fa-shopping-cart{
    font-size: 20px;
}